
.example-25-width {
  width: 24%;
  margin-right: 1%;
}

.example-20-width {
  width: 19%;
  margin-right: 1%;
}

.example-75-width {
  width: 74%;
  margin-right: 1%;
}
.example-70-width {
  width: 69%;
  margin-right: 1%;
}
